site_name: PhEval
theme:
  logo: images/pheval-logo-2025-01-30_icon white.svg
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
  palette:
    - scheme: default
      primary: indigo
      toggle:
        icon: material/weather-night
        name: Night Mode
    - scheme: slate
      primary: indigo
      toggle:
        icon: material/weather-sunny
        name: Day Mode

markdown_extensions:
  - pymdownx.emoji
  - pymdownx.tasklist
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight
  - mkdocs-click
  - admonition
  - pymdownx.details
  - pymdownx.superfences

extra_javascript:
  - https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js

plugins:
  - search
  - autorefs
  - include_dir_to_nav
  - mkdocstrings:
      enable_inventory: true

watch:
  - src

nav:
  - Home: "index.md"
  - Getting Started:
    - Overview: "getting_started/getting_started.md"
    - Installation: "getting_started/installation.md"
  - Using PhEval:
    - Plugins and runners: using_pheval/plugins_and_runners.md
  - Utilities:
    - Overview: utilities/index.md
    - Data preparation: utilities/data_preparation.md
    - Phenotype scrambling: utilities/phenotype_scrambling.md
    - Variant utilities: utilities/variant_utilities.md
    - Resource updates: utilities/resource_updates.md
  - Benchmarking:
      - Overview: benchmarking/index.md
      - Executing a benchmark: benchmarking/executing_a_benchmark.md
  - Plugins:
      - Overview: plugins/index.md
  - Developer docs:
      - Developing a PhEval plugin: resources_for_contributors/developing_a_pheval_plugin.md
      - Contributing: resources_for_contributors/contributions.md
      - API reference:
          - Overview: resources_for_contributors/api_reference/index.md
          - API documentation: resources_for_contributors/api_reference/api/pheval


site_url: https://monarch-initiative.github.io/pheval/
repo_url: https://github.com/monarch-initiative/pheval
edit_uri: "edit/docs/docs/"
