name: Auto-deployment of Documentation
on:
  push:
    branches: [ main ]
jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.0.2
      with:
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo

    - name: Set up Python 3.
      uses: actions/setup-python@v3
      with:
        python-version: '3.10'

    - name: Install uv.
      uses: astral-sh/setup-uv@v7

    - name: Install dependencies.
      run: |
        uv sync --group docs

    - name: Build documentation.
      run: |
        echo ${{ secrets.GH_TOKEN }} >> src/pheval/token.txt
        mkdir gh-pages
        touch gh-pages/.nojekyll
        python ./src/pheval/utils/docs_gen.py
        export PYTHONPATH=$(pwd)/src
        uv run mkdocs build
        mv site/* ./gh-pages/

    - name: Deploy documentation.
      if: ${{ github.event_name == 'push' }}
      uses: JamesIves/github-pages-deploy-action@v4.4.1
      with:
        branch: gh-pages
        force: true
        folder: gh-pages
